html {
    background-color: aliceblue;
    font-size: 1.1rem;
}

.wrapper {
    max-width: 600px;
    margin: 0 auto;
}

.heading {
    font-size: 1rem;
}

.copy {
    font-size: 1rem;
}

.helper-text {
    font-size: 0.8rem;
}